/*
    Top Menu Bar and Popup Window CSS
*/

/*  Top Menu Bar ---------------------------------------------
*/

/* Menu Bar item link styles - background values MUST match: ".barItems" ".barItems a:link" "#barMenu li a"*/
.barItems {
    font-size:.96em;
    width: 100%;
    height: 26px;
    margin: 0 0 0 0px;
    padding: 0px 0px 3px 12px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background: #FFE8A9;
}
.barItems a {
    color: black;
    font-weight:bold;
    text-decoration:none;
    background: #FFE8A9;
}
/* Menu bar items */
#barMenu li a {
    color: black;
    background: #FFE8A9;
    height:23px; 
    display:block; 
    margin:0px;
    padding:6px 5px 0 5px; 
    text-align:left; 
    text-decoration:none; 
    font-family:arial;
    font-size:0.9em;
}
#barMenu li a:hover {
    background:#F2C686;
}

/* Drop down menu styles
    color: black;
    background: #B4641F;
*/
#barMenu ul a {
    color: black;
    background: #FFF8D9;
    font-weight:normal;
    font-family:arial; font-size:0.8em;
    display:block;  
    height:15px;
    padding: 8px 5px; 
    text-align:left; 
    border-top: 0px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
#subItemTop {
    border-top: 2px solid grey;
}

/* --------------------------------------------- */

/* remove the list style */
.clear {clear:both} 
#barMenu {
    margin:0; 
    padding:0;
    list-style:none;
}   

/* Menu bar items */
#barMenu li {
    width:100px; 
    float:left; 
    display:block; 
    position:relative;
    margin:0px;
    padding:0px;
}

/* submenu is hidden by default */
#barMenu ul {
    position:absolute; 
    left:0; 
    display:none; 
    margin:0 0 0 -1px; 
    padding:0; 
    list-style:none;
}

/* sub-items*/
#barMenu ul li {
    width:200px; 
    float:left; 
}
/* sub-item images*/
#barMenu ul li img {
    float:left;
    border-left: 2px solid black;
    padding: 4px 4px 0px 2px;
}

/* Style for default selected value */
#barMenu a.selected {
    color:#f00;
}

/* fix ie6 small issue */
/* we should always avoid using hack like this */
/* should put it into separate file : ) */
*html #barMenu ul {margin:0 0 0 -2px;}

/*  Contact Form, which is a Popup window -------------------------------------
*/
#contactClicker { cursor:pointer; }
#contactClose {
    background: #FFE8A9;
    padding:0px;
    cursor:pointer;
    text-align: left;
}
#contactPopup {
    background: #FFE8A9;
}

/*  Notes:
    padding-left:20px; --- is for the image(gif) to show up on the left.
*/
.clear {
    clear:both
}
.block {
    width:440px;
    height:280px; 
    text-align:left;
    border: 2px solid #954C08;
    margin-top: 60px;
}
.done {
    background:url(../images/iconIdea.gif) no-repeat 2px; 
    padding-left:20px;
    font-family:arial;
    font-size:12px;
    width:70%;
    margin:20px auto;
    display:none
}
.element * {
    padding:10px;
    margin:2px;
    font-family:arial;
    font-size:12px;
}
.element label {
    float:left;
    width:100px;
    font-weight:700
}
.element input.text {
    float:left;
    width:270px;
    padding-left:20px;
}
.element .textarea {
    height:120px;
    width:270px;
    padding-left:20px;
}
.element .hightlight {
    border:2px solid #9F1319;
    background:url(../images/iconCaution.gif) no-repeat 2px
}
.element #submit {
    margin-left:126px;
}
.sending {
    float:right;
    display: none;
    background:url(../images/ajax-sending.gif) no-repeat 2px
}

/*  start popup window -------------------------------------------------- 

    Orginal filename: modalPopLite1.3.0
*/

.modalPopLite-mask
{
    position:fixed;
    z-index:9000;
    background-color:#000;
    display:none;
    top:0px;
    left:0px;
    width:100%;
}
.modalPopLite-wrapper
{
    position:fixed;
    z-index:9999;
    /*display:none;*/
    /*left:-10000px;*/
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 0px 25px rgba(0,0,0,.9);
    -moz-box-shadow: 0 0px 25px rgba(0,0,0,.9);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);    
    border: 5px solid rgb(000, 0, 0);
    border: 5px solid rgba(000, 0, 0, .5);

}

/* popup */
.popBox-holder 
{
    display:none;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 999;
    background-color:#000;
    filter:alpha(opacity=40);
    opacity:0.5;

}

.popBox-container 
{
    display:none;
    background-color: #fff;
    border:4px solid #000;
    padding:10px;
    text-align:center;
    z-index: 1000;
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.popBox-container .done-button
{
    margin-top:10px;
}

/* zoom and *display = ie7 hack for display:inline-block */
.popBox-container .button {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.popBox-container .button:hover {
    text-decoration: none;
}
.popBox-container .button:active {
    position: relative;
    top: 1px;
}

.popBox-container .small {
    font-size: 11px;
    padding: .2em 1em .275em;
}
.popBox-container .blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.popBox-container .blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.popBox-container .blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.popBox-ajax-progress
{
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 99999;
    background-color:#000;
    filter:alpha(opacity=40);
    opacity:0.5;
    background-image: url('ajax-loader.gif');
    background-repeat:no-repeat;
    background-position:center center;
}
/*  end popup --------------------------------------------------  */


/* eof */
